In [1]:
import pandas as pd

In [2]:
# Load data
unemployment_df = pd.read_fwf('data/laucnty19.txt')
unemployment_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,LAUS Code,Code,Code2,County Name/State Abbreviation,Year,Force,Employed,Level-Rate
1,CN0100100000000,01,001,"Autauga County, AL",2019,"26,172","25,458",714 2.7
2,CN0100300000000,01,003,"Baldwin County, AL",2019,"97,328","94,675","2,653 2.7"
3,CN0100500000000,01,005,"Barbour County, AL",2019,"8,537","8,213",324 3.8
4,CN0100700000000,01,007,"Bibb County, AL",2019,"8,685","8,419",266 3.1

In [3]:
#  Set header
unemployment_df.columns = unemployment_df.iloc[0]
unemployment_df= unemployment_df.iloc[1:]
unemployment_df.head()

,LAUS Code,Code,Code2,County Name/State Abbreviation,Year,Force,Employed,Level-Rate
1,CN0100100000000,01,001,"Autauga County, AL",2019,"26,172","25,458",714 2.7
2,CN0100300000000,01,003,"Baldwin County, AL",2019,"97,328","94,675","2,653 2.7"
3,CN0100500000000,01,005,"Barbour County, AL",2019,"8,537","8,213",324 3.8
4,CN0100700000000,01,007,"Bibb County, AL",2019,"8,685","8,419",266 3.1
5,CN0100900000000,01,009,"Blount County, AL",2019,"25,331","24,655",676 2.7

In [4]:
#  Rename Header
new_unemployment_df  = unemployment_df.rename(columns={'LAUS Code': 'LAUS-Code',
                                                   'Code': 'County-FIPS-Code',
                                                    'Code2': 'State-FIPS-Code',
                                                   'County Name/State Abbreviation': 'countyName',
                                                    'Year': 'year',   
                                                   'Force': 'laborForce',
                                                   'Employed': 'employed',
                                                   'Level Rate': 'Level-Rate'})
new_unemployment_df.head()

,LAUS-Code,County-FIPS-Code,State-FIPS-Code,countyName,year,laborForce,employed,Level-Rate
1,CN0100100000000,01,001,"Autauga County, AL",2019,"26,172","25,458",714 2.7
2,CN0100300000000,01,003,"Baldwin County, AL",2019,"97,328","94,675","2,653 2.7"
3,CN0100500000000,01,005,"Barbour County, AL",2019,"8,537","8,213",324 3.8
4,CN0100700000000,01,007,"Bibb County, AL",2019,"8,685","8,419",266 3.1
5,CN0100900000000,01,009,"Blount County, AL",2019,"25,331","24,655",676 2.7

In [5]:
# Split Level Rate to Unemployed Level and Unemployed Rate  
new_unemployment_df[['unemployedLevel','none1','none1','none1','none1','none1', 'rate']] = new_unemployment_df['Level-Rate'].str.split(' ',expand=True)
new_unemployment_df.head()

,LAUS-Code,County-FIPS-Code,State-FIPS-Code,countyName,year,laborForce,employed,Level-Rate,unemployedLevel,none1,rate
1,CN0100100000000,01,001,"Autauga County, AL",2019,"26,172","25,458",714 2.7,714,,2.7
2,CN0100300000000,01,003,"Baldwin County, AL",2019,"97,328","94,675","2,653 2.7","2,653",,2.7
3,CN0100500000000,01,005,"Barbour County, AL",2019,"8,537","8,213",324 3.8,324,,3.8
4,CN0100700000000,01,007,"Bibb County, AL",2019,"8,685","8,419",266 3.1,266,,3.1
5,CN0100900000000,01,009,"Blount County, AL",2019,"25,331","24,655",676 2.7,676,,2.7

In [6]:
#  Combine County and State FIPS code to id
new_unemployment_df["id"] = new_unemployment_df["County-FIPS-Code"] + new_unemployment_df["State-FIPS-Code"]
new_unemployment_df.head()

,LAUS-Code,County-FIPS-Code,State-FIPS-Code,countyName,year,laborForce,employed,Level-Rate,unemployedLevel,none1,rate,id
1,CN0100100000000,01,001,"Autauga County, AL",2019,"26,172","25,458",714 2.7,714,,2.7,01001
2,CN0100300000000,01,003,"Baldwin County, AL",2019,"97,328","94,675","2,653 2.7","2,653",,2.7,01003
3,CN0100500000000,01,005,"Barbour County, AL",2019,"8,537","8,213",324 3.8,324,,3.8,01005
4,CN0100700000000,01,007,"Bibb County, AL",2019,"8,685","8,419",266 3.1,266,,3.1,01007
5,CN0100900000000,01,009,"Blount County, AL",2019,"25,331","24,655",676 2.7,676,,2.7,01009

In [7]:
#  Filter out data
final_unemployment_df = new_unemployment_df[['id', 'countyName', 'laborForce', 
                                             'employed', 'unemployedLevel', 
                                            'rate', 'year']]
final_unemployment_df.head(80)

,id,countyName,laborForce,employed,unemployedLevel,rate,year
1,01001,"Autauga County, AL","26,172","25,458",714,2.7,2019
2,01003,"Baldwin County, AL","97,328","94,675","2,653",2.7,2019
3,01005,"Barbour County, AL","8,537","8,213",324,3.8,2019
4,01007,"Bibb County, AL","8,685","8,419",266,3.1,2019
5,01009,"Blount County, AL","25,331","24,655",676,2.7,2019
...,...,...,...,...,...,...,...
76,02100,"Haines Borough, AK","1,111","1,012",99,8.9,2019
77,02105,"Hoonah-Angoon Census Area, AK","1,160","1,028",132,None,2019
78,02110,"Juneau Borough/city, AK","16,999","16,243",756,4.4,2019
79,02122,"Kenai Peninsula Borough, AK","26,161","24,383","1,778",6.8,2019
80,02130,"Ketchikan Gateway Borough, AK","6,884","6,456",428,6.2,2019

In [8]:
final_unemployment_df = final_unemployment_df.mask(final_unemployment_df.astype(object).eq('None')).dropna()
final_unemployment_df.head(79)

,id,countyName,laborForce,employed,unemployedLevel,rate,year
1,01001,"Autauga County, AL","26,172","25,458",714,2.7,2019
2,01003,"Baldwin County, AL","97,328","94,675","2,653",2.7,2019
3,01005,"Barbour County, AL","8,537","8,213",324,3.8,2019
4,01007,"Bibb County, AL","8,685","8,419",266,3.1,2019
5,01009,"Blount County, AL","25,331","24,655",676,2.7,2019
...,...,...,...,...,...,...,...
76,02100,"Haines Borough, AK","1,111","1,012",99,8.9,2019
78,02110,"Juneau Borough/city, AK","16,999","16,243",756,4.4,2019
79,02122,"Kenai Peninsula Borough, AK","26,161","24,383","1,778",6.8,2019
80,02130,"Ketchikan Gateway Borough, AK","6,884","6,456",428,6.2,2019
81,02150,"Kodiak Island Borough, AK","5,912","5,582",330,5.6,2019

In [9]:
#  Save to csv file
final_unemployment_df.to_csv('data/unemployment_2019.csv')